<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/webjars/material-design-icons/material-icons.css"/>
    <link type="text/css" rel="stylesheet" href="/webjars/materializecss/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <title>Code Golf - JavaLand |  powered by @dasniko</title>
</head>

<div class="navbar-fixed" th:fragment="navbar">
    <nav class="easternblue">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">
                Code Golf
            </a>
            <a href="#!" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/rules">Rules</a></li>
                <li><a href="/play">Play</a></li>
                <li><a href="/results">Results</a></li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li><a href="/rules">Rules</a></li>
                <li><a href="/play">Play</a></li>
                <li><a href="/results">Results</a></li>
            </ul>
        </div>
    </nav>
</div>

<footer class="page-footer easternblue" th:fragment="footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 Niko Köbler
            <a class="grey-text text-lighten-4 right" href="mailto:codegolf@n-k.de">Contact</a>
        </div>
    </div>

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/materializecss/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</footer>

</html>
