<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/webjars/material-design-icons/material-icons.css"/>
    <link type="text/css" rel="stylesheet" href="/webjars/materializecss/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <title>Code Golf - JavaLand |  powered by @dasniko</title>
</head>

<div class="navbar-fixed" th:fragment="navbar">
    <nav class="easternblue">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo" th:text="#{nav.brand}"></a>
            <a href="#!" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li th:class="${#httpServletRequest.getServletPath() == '/rules' ? 'active' : ''}"><a href="/rules" th:text="#{nav.rules}"></a></li>
                <li th:class="${#httpServletRequest.getServletPath() == '/awards' ? 'active' : ''}"><a href="/awards" th:text="#{nav.awards}"></a></li>
                <li th:class="${#httpServletRequest.getServletPath() == '/play' ? 'active' : ''}"><a href="/play" th:text="#{nav.play}"></a></li>
                <li th:class="${#httpServletRequest.getServletPath() == '/results' ? 'active' : ''}"><a href="/results" th:text="#{nav.results}"></a></li>
                <li th:if="${#httpServletRequest.userPrincipal}">
                    <a href="/logout">
                        <span th:text="${'Logout ' + #httpServletRequest.userPrincipal.name}"></span>
                        <img class="circle responsive-img gravatar" th:src="${beans.Gravatar.imageUrl()}"/>
                    </a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li><a href="/rules" th:text="#{nav.rules}"></a></li>
                <li><a href="/awards" th:text="#{nav.awards}"></a></li>
                <li><a href="/play" th:text="#{nav.play}"></a></li>
                <li><a href="/results" th:text="#{nav.results}"></a></li>
                <li th:if="${#httpServletRequest.userPrincipal}"><a href="/logout" th:text="${'Logout ' + #httpServletRequest.userPrincipal.name}"></a></li>
            </ul>
        </div>
    </nav>
</div>

<footer class="page-footer easternblue" th:fragment="footer">
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4" href="http://www.n-k.de" target="_blank">© 2016 Niko Köbler</a>
            <a class="grey-text text-lighten-4 right" href="mailto:codegolf@n-k.de" th:text="#{nav.contact}"></a>
        </div>
    </div>

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/materializecss/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</footer>

<div id="lock" class="hide" th:fragment="lock">
    <div class="lockForeground easternblue z-depth-3">
        <div class="white-text center-align">Please wait while your request is being processed...</div>
        <div class="progress white">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="lockBackground"></div>
</div>

</html>
