body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.easternblue {
    background-color: #1AA3B1 !important;
}

.easternblue-text {
    color: #1AA3B1 !important;
}
