body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.easternblue {
    background-color: #1AA3B1 !important;
}

.easternblue-text {
    color: #1AA3B1 !important;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.sourcebox {
    background-color: rgba(26, 163, 177, 0.2);
    border: none;
    width: calc(100% - 50px);
    resize: none !important;
}
.sourcebox:focus {
    outline: none;
}

img.gravatar {
    height: 42px;
    vertical-align: middle;
    margin-left: 5px;
}