<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/master::head"></head>
<body>

<div th:replace="fragments/master::navbar"></div>

<main>
    <div class="container section">
        <h3>Hello, World!</h3>
        <div class="row">
            <div class="col s12">
                <p class="flow-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center easternblue-text">
                        <i class="material-icons">flash_on</i>
                    </h2>
                    <h5 class="center">Lorem ipsum dolor</h5>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center easternblue-text">
                        <i class="material-icons">flash_on</i>
                    </h2>
                    <h5 class="center">Lorem ipsum dolor</h5>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center easternblue-text">
                        <i class="material-icons">flash_on</i>
                    </h2>
                    <h5 class="center">Lorem ipsum dolor</h5>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="btn btn-large wave-effect waves-light easternblue" style="margin-top: 20px; padding: 0 10rem;">Let's get startet!</button>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/master::footer"></footer>
</body>
</html>
