<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/master::head"></head>
<body>

<div th:replace="fragments/master::navbar"></div>

<main>
    <div class="container section">
        <h4>Play Golf</h4>
        <div class="row">
            <div class="col s12">
                Birdie? Hole-in-one? ...
            </div>
        </div>
        <div class="row">
            <form class="col s12" th:action="@{/play}" th:object="${playRequest}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" th:field="*{username}"/>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <pre>public class Codegolf {
  public String play() {
    // your code goes here:
    <textarea th:field="*{sourcecode}" class="enter-source"></textarea>
  }
}</pre>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light easternblue" type="submit">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${playResult != null}" class="row">
            <div class="col s12" th:if="${playResult.success}">
                <h5>PAR!</h5>
                <p>Congrats, you made it!</p>
                <p>
                    Your submitted source code has <span th:text="${playResult.count}"></span> characters (whitespace removed).
                </p>
                <a href="/results" class="easternblue-text">See all results</a>
            </div>
            <div class="col s12" th:if="${!playResult.success}">
                <h5 class="red-text">Oh no!</h5>
                <p>Something went wrong...</p>
                <pre th:text="${playResult.result}"></pre>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/master::footer"></footer>
</body>
</html>