<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/master::head"></head>
<body>

<div th:replace="fragments/master::navbar"></div>

<main>
    <div class="container section">
        <h4 th:text="#{play.title}"></h4>
        <div class="row">
            <div class="col s12">
                <p th:text="#{play.text}"></p>
            </div>
        </div>
        <div class="row">
            <form class="col s12" th:action="@{/play}" th:object="${playRequest}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <pre>public class Codegolf {
  public String play() {
    // your code goes here:
    <textarea th:field="*{sourcecode}" class="sourcebox"></textarea>
  }
}</pre>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light easternblue" type="submit">
                            <span th:text="#{play.submit}"></span>
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${playResult != null}" class="row">
            <div class="col s12" th:if="${playResult.success}">
                <h5 th:text="#{play.success.title}"></h5>
                <p th:text="#{play.success.text}"></p>
                <p th:text="#{play.success.message(${playResult.count})}"></p>
                <a href="/results" class="easternblue-text" th:utext="#{play.success.link}"></a>
            </div>
            <div class="col s12" th:if="${!playResult.success}">
                <h5 class="red-text" th:text="#{play.failure.title}"></h5>
                <p th:text="#{play.failure.text}"></p>
                <pre th:text="${playResult.result}"></pre>
                <p th:text="#{play.failure.message}"></p>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/master::footer"></footer>
<script type="text/javascript" src="/webjars/autosize/dist/autosize.min.js"></script>
<script type="text/javascript">
    autosize($('textarea'));
</script>
</body>
</html>