<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/master::head"></head>
<body>

<div th:replace="fragments/master::navbar"></div>

<main>
    <div class="container section">
        <h4 th:text="#{rules.title}"></h4>
        <p th:utext="#{rules.text}"></p>
        <ul class="collection">
            <li class="collection-item" th:utext="#{rules.a}"></li>
            <li class="collection-item" th:utext="#{rules.b}"></li>
            <li class="collection-item" th:utext="#{rules.c}"></li>
            <li class="collection-item" th:utext="#{rules.d}"></li>
        </ul>
    </div>
</main>

<footer th:replace="fragments/master::footer"></footer>
</body>
</html>